/*------------------- variables -------------------*/
:root {
    --color-one: #293462;
    --color-two: #1CD6CE;
    --color-three: #FEDB39;
    --color-four: #D61C4E;
    --color-w: #fff;
    --color-b: #000;
}

body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    /* background: url("../img/dot-grid.png") center; */
}

/*------------------- header -------------------*/
header {
    position: relative;
}

header .nav-link {
    color: var(--color-w);
}

header .nav-link:hover {
    border-bottom: 1px dashed var(--color-three);
    color: var(--color-two);
}

header .dropdown-item:hover {
    background-color: var(--color-one);
    color: var(--color-w);
}

header .banner-image {
    background-image: url("../img/top-view-books-with-copy-space.jpg");
    background-size: cover;
}

header .content {
    padding-right: 60px;
    position: absolute;
    z-index: 2;
}

header .content h1 {
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px var(--color-one);
    margin-bottom: 26px;
}

header .content p {
    font-size: 30px;
    color: var(--color-three);
}

header nav .nav-item {
    margin-right: 16px;
}

/*------------------- Framework -------------------*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
  }